<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>988416426638-mgi8v5en4op7vlbkbnsj919dk9g95du7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988416426638-mgi8v5en4op7vlbkbnsj919dk9g95du7</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ9Qk3kuNj1CjWdYcp6J0RQmk_6b7UB1w</string>
	<key>GCM_SENDER_ID</key>
	<string>988416426638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twisted.WallOfCards</string>
	<key>PROJECT_ID</key>
	<string>wallofcards-5f84c</string>
	<key>STORAGE_BUCKET</key>
	<string>wallofcards-5f84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988416426638:ios:0decf3c60a6a56e1</string>
	<key>DATABASE_URL</key>
	<string>https://wallofcards-5f84c.firebaseio.com</string>
</dict>
</plist>